repos:
  -   repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v2.3.0
      hooks:
        -   id: end-of-file-fixer
        -   id: trailing-whitespace
  - repo: local
    hooks:
      - id: gradle-test
        name: test with this project's gradlew
        entry: ./gradlew test
        language: system
        types: [java]
        pass_filenames: false
